body{
  margin: 0;
  padding: 0;
  font-family: "-apple-system", "system-ui", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

ul{
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  height: 2px;
}
li{
  list-style: none;
  background: red;
}
a{
  color: white;
}
.navbar{
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: #34495E;
  transition: all 0.4s;
  border-radius: 1px;
}
// la premiere div

.firstone ,.presentation{
  background-color: #16A085;
  width: 102%;
  height: 700px;
  margin-left: -10px;
  margin-right: 35px;
  padding-left: 30px;
  display:flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  position: fixed;
  background-image: url("../images/crayon.jpeg");
  background-position: top;
}

.photomathon{
  width: 50%;
}
.typed{
 width: 50%;
 text-align: center;
}
#cacher{
  z-index: -100;
  background: rgba(0, 0, 0,0.8);
  width: 102%;
  height: 700px;
  margin-left: -20px;
  margin-right: 0px;
  padding-left: 30px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 45%;
}
.devWeb{
  animation-duration: 1s;
  font-size: 50px;
}
// div 2-------------------------------------
h2{
  text-transform: uppercase;
  color:#34495E;
}
.alone{
  color:white;
}
#story{
  width: 100%;
  height: 800px;
  background-color: #ECF0F1;
  position: relative;
  top:1100px;

}
.etudes{
  display:flex;
 width: 100%;
 height: 600px;
}
.scolaire{
  background-color: #F4EBE9;
  width: 75%;
  height: 500px;
  margin-top: 20px;
  padding: 10px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .promo{
   background-color: #FFFFFF;
   width: 65%;
   height: 120px;
   margin: 10px 10px;
   text-align: center;

 }
// grande ligne
 #story::after {
   position: absolute;
   top: 50px;
   left: 68%;
   height:85%;
   width: 3px;
   background-color: gray;

 }
 .years{
   width: 50px;
   height: 500px;
   margin-top: 5px;
   padding: 10px 10px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
.annee{
  background: white;
  width: 131px;
  height: 70px;
  margin: 35px;
  top: 30px;
  border-radius: 3px;
  padding: 3px 3px;
  position: relative;
  text-align: center;
}
.annee::after {
  position: absolute;
  left: -7px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  content: '';
  transform: rotate(45deg);
  border: 1px white solid;
  top:26px;
}

.annee::before {
  position: absolute;
  left: -29px;
  height: 15px;
  width: 15px;
  background-color: gray;
  content: '';
  border: 1px gray solid;
  top:26px;
  border-radius: 50%;

}
.promo:hover{
  box-shadow: 0 0 10px rgba(35, 173, 278, 1);
}
.promo p{
  background: #2C3E50;
  height: 13px;
}

// div 3-----------------------
#educate{
  width: 100%;
  height: 600px;
  background-color:#F4EBE9;
  position: relative;
  top:1100px;
}
#ligne{
  width: 100%;
  height: 3px;
  position: relative;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   top:4px;
}

.line::after {
  position: absolute;
  top: 7px;
  left: 39%;
  height: 90px;
  width: 3px;
  background-color: black;
  content: '';
}
 .langages{
   background-image: url("../images/langages.jpeg");
   background-size: cover;
   width: 100%;
   height: 450px;
   margin-top:15px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 15px 20px;
 }
 .progress{
   width: 45%;
   height: 30px;
   text-align: center;

 }
// div 4 niveau projets----------------
#experiences{
  height: 600px;
  width: 100%;
  position: relative;
  background-color: violet;
  top:1100px;
}
#allProjets{
  height: 600px;
  width: 100%;
  position: relative;
  background-image:url("../images/work.jpeg");
  background-size: cover;
  top:1100px;
  display: block;
  justify-content: center;
}
.groupe{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.titleProjet{
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  color:white;
  text-shadow: 2px 2px 4px #000000;
}
strong{
  text-transform: uppercase;
}
.allProjet{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 39%;
  border: 1px white solid;
  border-radius: 4px;
  height: 100%;

  margin-top:10px;
}
.overlay{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  background-color: rgba(0, 0, 0,0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .4s ease-in-out;
  cursor: pointer;
}
.allProjet:hover .overlay{
  height: 100%;
  box-shadow: 0 0 10px rgba(35, 173, 278, 1);
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.titleProjet{
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  color:white;
  text-shadow: 2px 2px 4px #000000;
}
// niveau formulaire
#messagerie{
  width: 100%;
  top: 1100px;
  background-image: url("../images/contact2.jpeg");
  background-size: cover;
  position: relative;
  height: 660px;
  display: block;
  justify-content: center;
}
.reseaux{
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  align-items: center;
}
.framework{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
button{
  padding: 25px;
  margin: 6%;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 26px;
  border: 2px white solid;
}
button:hover{
  background-color:#34495E;
  color:white;
  transition: 0.7s ease;

}
.window_up{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 13;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.contenu_popUp{
  background:white;
  height: 500px;
  width: 500px;
  top :5%;
  position:absolute;
  left: 35%;
}
// mes barres de progressions

.html{
  width: 60%;
  animation-name: html;
  animation-duration: 2s;
  background: #F16528;
}
.bootstrap{
  width: 60%;
  animation-name: bootstrap;
  animation-duration: 2s;
  background:#563B7E;
}
.sql{
  width: 60%;
  animation-name: sql;
  animation-duration: 2s;
  background: #1654B4;
}
.javascript{
  width: 60%;
  animation-name: javascript;
  animation-duration: 2s;
  background: #E8A50C;
}
.git{
  width: 60%;
  animation-name: git;
  animation-duration: 2s;
  background: black;
}
.jquery{
  width: 60%;
  animation-name: jquery;
  animation-duration: 2s;
  background: #193556;
}
.sass{
  width: 60%;
  animation-name: sass;
  animation-duration: 2s;
  background: #DB90B5;
}
.php{
  width: 60%;
  animation-name: php;
  animation-duration: 2s;
  background: #777BB3;
}
.angular{
  width: 60%;
  animation-name: angular;
  animation-duration: 2s;
  background: #B52E31;
}
@keyframes angular {
      0%{width: 0%;}
      100%{width: 55%;}
}

@keyframes sass {
      0%{width: 0%;}
      100%{width: 70%;}
}
@keyframes javascript {
      0%{width: 0%;}
      100%{width: 65%;}
}
@keyframes html {
      0%{width: 0%;}
      100%{width: 90%;}
}
@keyframes php {
      0%{width: 0%;}
      100%{width: 69%;}
}
@keyframes jquery {
      0%{width: 0%;}
      100%{width: 75%;}
}
@keyframes bootstrap {
      0%{width: 0%;}
      100%{width: 75%;}
}
@keyframes git {
      0%{width: 0%;}
      100%{width: 63%;}
}
@keyframes sql {
      0%{width: 0%;}
      100%{width: 65%;}
}
// les experiences
.toutesExpe{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 105px;
  flex-wrap: wrap;
  h3{
    text-transform: uppercase;
  }
}
.entreprise{
  width: 30%;
  height: 40%;
  text-align: center;
  border: 2px black solid;
  box-shadow: 0px 0px 25px gray;
}
#animateur{
  margin-top: 12px;
}
#closeMe{
  border: 2px red solid;
  background: transparent;
  width: 16px;
  height: 15px;
  color: red;
}
img{
  width: 70%;
  transition:all .2s ease-in-out;
  height:50%;
}
